---
import "@fontsource/space-mono";
import Layout from "../layouts/Layout.astro";
interface DirectionAttributesProps {
  title: string;
  createdAt: string;
  updatedAt: string;
  publishedAt: string;
}
interface DirectionProps {
  id: number;
  attributes: DirectionAttributesProps;
}
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="title">
      <span class="text-gradient" data-value="SYNESTIA">SYNESTIA</span>
    </h1>
  </main>
</Layout>

<style>
  main {
    background: #1b1b1b;
  }
  .title {
    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-family: "Space Mono";
  }
</style>

<script>
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  const synestia = document.querySelector(".text-gradient") as HTMLSpanElement;
  synestia.onmouseover = (e: any) => {
    let iterations = 0;
    const interval = setInterval(() => {
      e.target.innerText = e.target.innerText
        .split("")
        .map((letter: string, index: number) => {
          if (index < iterations) {
            return e.target.dataset.value[index];
          }
          return letters[Math.floor(Math.random() * 26)];
        })
        .join("");
      if (iterations > e.target.dataset.value.length) clearInterval(interval);
      iterations += 1 / 4;
    }, 30);
  };
</script>
