---
import Button from "./Button.astro";
const links = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "About",
    href: "/about",
  },
  {
    text: "Buttons",
    href: "/buttons",
  },
  {
    text: "Play",
    href: "/play",
  },
];
---

<header class="flex justify-between items-center max-w-7xl mx-auto">
  <div>Logo</div>
  <nav class="flex gap-2 text-lg">
    {
      links.map((link) => (
        <a class="hover:underline" href={link.href}>
          {link.text}
        </a>
      ))
    }
  </nav>
  <Button text="Contact" to="#contact" />
</header>

<style>
</style>
